---
layout: layouts/home.njk
eleventyNavigation:
  key: Guides
  order: 4
---
<h1>Guides</h1>

A collection of long-form guides on different projects.

{% set postslist = collections.guides %}
{% include "postslist.njk" %}
