---
layout: layouts/home.njk
eleventyNavigation:
  key: Stacks
  order: 3
---
<h1>Sustainability for Nerds</h1>

People share their tech stack, sometimes their hardware stack. 

This is a collection of stacks tech and non-tech I use on my daily life, starting with everything that you need.

My goal is to find environmentally friendly alternatives to everything. But first, I need to know what I need to fix.

{% set postslist = collections.stacks %}
{% include "postslist.njk" %}
